
.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 24px;
margin: auto;
}
.header-cont {
    padding: 16px 24px;
}

@media screen and (min-width:320px) , (max-width:480) {

/* ------------Header----------- */
.header-navigation {
    justify-content: space-between;

}
.header-cont {
    border-bottom: 1px solid #E7E9FC;
    border-radius: 4px;

}
/* -------------Hero---------- */

.hero-titel {
font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-light);
    margin-bottom: 72px;
}
/* -------------benefits---------- */

/* ---------What are we doing---------- */

/* -------------Our Team----------- */
/* ----------- customers ----------- */


}